body{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
* {box-sizing:border-box}

.slideshow{
    background-color: transparent;
    width: 45%;
    margin-left: 27%;
    margin-right: 27%;
}
li{
    margin: 10px;
  }
